<div class="mx-auto font-brand">
  <div class="search">
    <.simple_form
      for={@form}
      id="search_form"
      phx-change="update"
      phx-submit="update"
      >
      <.input field={@form[:search]} type="text" label="" placeholder="Search for FM..." required />
    </.simple_form>
  </div>
  <.live_component
     module = {PostsComponent}
     id="search-fms"
     fms={@streams.fms}
     current_fm={@current_fm}
     show_follow="true"
     show_reactions="false"
  />
</div>
