<div class="mx-auto font-brand">
  <.live_component
     module = {PostsComponent}
     id="search-fms"
     fms={@streams.fms}
     following={@following}
     indexing={@indexing}
     current_fm={@current_fm}
     show_follow="false"
  />
</div>
