<div class="mx-auto font-brand">
  <.live_component
     module = {PostsComponent}
     id="search-fms"
     fms={@streams.fms}
     current_fm={@current_fm}
     show_follow="false"
     show_reactions="true"
  />
</div>
