<div class="mx-auto font-brand">
  <.live_component
     module = {PostsComponent}
     id="search-fms"
     fms={@streams.fms}
     current_fm={@current_fm}
     show_follow={false}
     show_reactions={true}
  />
  <h1 class="text-center">
    Want to get more song recommendations?
  </h1>
  <h1 class="text-center">
    <.link navigate={~p"/explore"} class="font-semibold text-brand hover:underline">
      Explore FMs here!
      </.link>
  </h1>
</div>
