@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */
@font-face {
    font-family: "Rubik";
    src: url("/fonts/Rubik-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Rubik";
    src: url("/fonts/Rubik-Bold.ttf");
    font-weight: bold;
    font-style: bold;
}

.header {
    height: 7.5vh;
    background-color: white;
    color: white;
    text-align: center;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid black;
}

.logo {
    align-items: center;
    height: 5vh;
    width: auto;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile-icon {
    width: 30px; /* Set width */
    height: 30px; /* Set height */
    border-radius: 50%; /* Create a circular shape */
}

.footer {
    background-color: white; /* Background color */
    border-top: 2px solid black;
    bottom: 0;
}

.footer-icons {
    display: flex; /* Use flexbox for layout */
    justify-content: space-between; /* Evenly space items */
    padding: 10px 20px; /* Add padding for better appearance */
    width: 60%;
    margin: 0 20%;
}

.wavelets-container {
    align-items: center;
}

.wavelet-container {
    display: flex;
    height: 20%;
    border-radius: 10px;
    border: 2px solid black;
    overflow: hidden;

    align-items: center;
    justify-content: center;
    aspect-ratio: 2.5;
}

.wavelet-container:hover {
    background-color: #c0c0c0;
}

.wavelet-sub-container {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.wavelet-cover {
    height: 100%;
    aspect-ratio: 1;
}

.cover-wrapper {
    padding: 5%;
}

.wavelet-text {
    flex-basis: calc(25% - 2px);
    height: 25%;
}
