@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */
@font-face {
    font-family: "Rubik";
    src: url("/fonts/Rubik-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Rubik";
    src: url("/fonts/Rubik-Bold.ttf");
    font-weight: bold;
    font-style: bold;
}

.header {
    height: 10vh;
    background-color: white;
    text-align: center;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid black;
}

.logo {
    align-items: center;
    height: 7.5vh;
    width: auto;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile-img {
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.profile-img-container {
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    border: 2px solid black;
}

.dropdown {
    position: absolute;
    width: min(200px, 50%);
    height: auto;
    border: 2px solid black;
    border-radius: 10px;
    right: 5%;
    top: 9vh;
    background-color: white;
}

.menu-item {
    padding: 4 2 4 2;
    color: black;
    display: block;
    margin-bottom: 0.5vh;
    width: 80%;
    margin: 0 10%;
    font-size: x-large;
}

.menu-item:hover {
    color: #c0c0c0;
}

.footer-spacer {
    height: 7vh;
}

.footer {
    background-color: white;
    border-top: 2px solid black;
    bottom: 0;
    height: 7vh;
    width: 100%;
    position: fixed;
}

.footer-icons {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    width: 60%;
    margin: 0 20%;
}

.fm-container {
    display: flex;
    height: 2rem;

    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
}

.wavelets-container {
    align-items: center;
}

.wavelet-container {
    display: flex;
    height: 90%;
    border-radius: 10px;
    border: 2px solid black;
    overflow: hidden;

    align-items: center;
    justify-content: center;
    aspect-ratio: 2.5;
}

.wavelet-hover:hover {
    background-color: #c0c0c0;
}

.wavelet-sub-container {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.wavelet-cover {
    height: 100%;
    aspect-ratio: 1;
}

.cover-wrapper {
    padding: 5%;
}

.wavelet-text {
    flex-basis: calc(25% - 2px);
    height: 25%;
}

.post-container {
    display: flex;
    height: 20%;

    align-items: center;
    justify-content: center;
    aspect-ratio: 2.5;
    display: flex;
    flex: 1;
    flex-direction: column;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    aspect-ratio: 2.5;
}

.follow {
    margin-left: 10px;
}

.follow:hover .follow-non {
    display: none;
}

.follow:hover .follow-on {
    display: block;
}

.follow .follow-non {
    display: block;
}

.follow .follow-on {
    display: none;
}

.search {
    width: 80%;
    margin: 0 10%;
    margin-top: -30px;
    margin-bottom: 20px;
}
